$orange: #ff7e1b;
$pale_Orange: rgb(253, 230, 219);
$grey: rgb(126, 125, 125);
$bluish-grey: rgb(239, 243, 245);

$kumbh: "Kumbh Sans", sans-serif;
$font_size_small: 0.75em;
$font_size_general: 0.85em;
$font_size_medium: 1.2em;
$font_size_large: 2.1em;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexAlign {
  display: flex;
  align-items: center;
}

body {
  background-color: #ffffff;
  background-image: url("../images/overlay.png"), #ffffff;
  background-image: url("../images/overlay.png"), #ffffff;
  background-image: url("../images/overlay.png"), #ffffff;
  background-image: url("../images/overlay.png"), #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
}

body,
input,
textarea,
select {
  font-size: 20pt;
  line-height: 1.75em;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1680px) {
  body,
  input,
  textarea,
  select {
    font-size: 15pt;
  }
}

@media screen and (max-width: 1280px) {
  body,
  input,
  textarea,
  select {
    font-size: 14pt;
  }
}

@media screen and (max-width: 736px) {
  body,
  input,
  textarea,
  select {
    font-size: 12pt;
  }
}

@media screen and (max-width: 360px) {
  body,
  input,
  textarea,
  select {
    font-size: 11pt;
  }
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
  @include flexCenter();
  .container {
    width: 75%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
  }
  .app-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    top: 0;
    z-index: 2;
    display: none;
    .modal-view {
      width: 35%;
      height: fit-content;
      display: flex;
      flex-flow: column;
      .modal-close-container {
        width: 100%;
        height: fit-content;
        margin-bottom: 2em;
        position: relative;
        .close-icon {
          position: absolute;
          top: 0;
          right: 0;
          height: 1em;
          &:hover {
            filter: brightness(0) saturate(100%) invert(54%) sepia(47%)
              saturate(2112%) hue-rotate(347deg) brightness(102%) contrast(101%);
          }
        }
      }
      .modal-image-container {
        width: 100%;
        .modal-image-focused {
          width: 100%;
          position: relative;
          .focused {
            width: 100%;
            border-radius: 0.55em;
          }
          .previous-icon {
            @include flexCenter();
            position: absolute;
            top: 50%;
            left: -1em;
            background-color: #ffffff;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            img {
              &:hover {
                filter: brightness(0) saturate(100%) invert(54%) sepia(47%)
                  saturate(2112%) hue-rotate(347deg) brightness(102%)
                  contrast(101%);
              }
            }
          }
          .next-icon {
            @include flexCenter();
            position: absolute;
            top: 50%;
            right: -1em;
            background-color: #ffffff;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            img {
              &:hover {
                filter: brightness(0) saturate(100%) invert(54%) sepia(47%)
                  saturate(2112%) hue-rotate(347deg) brightness(102%)
                  contrast(101%);
              }
            }
          }
        }
        .modal-image-array {
          width: 100%;
          height: 5em;
          margin: 1em 0em;
          display: flex;
          justify-content: center;
          flex-flow: row;
          flex-wrap: nowrap;
          opacity: 1;
          img {
            height: 100%;
            border-radius: 0.55em;
            margin-right: 0.5em;
            transition: all 200ms ease-out;
            border: none;
          }
          img:last-child {
            margin-right: 0em;
          }
          img:hover {
            transition: all 200ms ease-in;
            opacity: 0.7;
          }
          img.active {
            transition: all 200ms ease-in;
            border: 0.1em solid $orange;
            opacity: 0.8;
          }
        }
      }
    }
  }
  .app-overlay.active {
    @include flexCenter();
  }
  .mobile-menu {
    display: none;
    width: 70vw;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 3;
    img {
      margin: 1.5em 2.5em;
    }
    ul {
      list-style-type: none;
      margin: 1em 2.5em;
      padding: 0em;
    }
    ul li {
      text-decoration: none;
      font-weight: 700;
      font-size: $font_size_medium;
      font-family: $kumbh;
      line-height: 2em;
    }
  }
  .mobile-menu.active {
    display: block;
  }
}

/* Nav */
nav {
  @include flexAlign();
  position: relative;
  flex: 0 1 auto;
  width: 100%;
  height: fit-content;
  max-height: 20vh;
  padding: 0;
  margin: 0;
  border-bottom: 0.05em solid #d8d1d1;
  .brand-logo {
    margin-right: 1em;
  }
  .menu-icon {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
    font-family: $kumbh;
    font-size: $font_size_general;
    color: $grey;
    width: fit-content;
    line-height: 5em;
    padding: 0;
    margin: 0em 1em;
    box-sizing: border-box;
    border-bottom: 0.25em solid #ffffff;
    transition: all 300ms ease-out;
    &:hover {
      transition: all 300ms ease-in;
      border-bottom: 0.25em solid $orange;
    }
  }
  .cart-user {
    @include flexAlign();
    position: absolute;
    right: 0;
    .cart-container {
      .cart-icon-container {
        position: relative;
        margin-right: 0.5em;
        .cart-count {
          @include flexCenter();
          width: fit-content;
          height: fit-content;
          background-color: $orange;
          border-radius: 0.25em;
          position: absolute;
          top: 0em;
          left: 0.5em;
          p {
            font-size: 0.5em;
            line-height: 0.5em;
            margin: 0;
            padding: 0.5em 0.75em;
            color: #ffffff;
            font-weight: 600;
          }
        }
      }
      .cart {
        width: 16em;
        height: 12em;
        background-color: rgb(255, 255, 255);
        display: none;
        position: absolute;
        bottom: -12.5em;
        left: -100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 0.5em;
        .cart-header {
          @include flexAlign();
          font-family: $kumbh;
          font-weight: 700;
          font-size: $font_size_small;
          padding-left: 0.8em;
          box-sizing: border-box;
          width: 100%;
          height: 4em;
          border-bottom: 0.01em solid #d5d8db;
        }
        .cart-content {
          @include flexAlign();
          font-family: $kumbh;
          min-height: 5em;
          height: fit-content;
          padding: 0;
          p {
            width: 100%;
            text-align: center;
            font-weight: 400;
            font-size: $font_size_small;
          }
          .cart-item {
            @include flexAlign();
            width: 100%;
            height: 3.5em;
            margin: 0.5em 0em;
            padding: 0;
            flex-flow: row;
            flex-wrap: nowrap;
            img {
              height: 90%;
              flex: 0 1 auto;
              margin: 0em 0.5em;
              border-radius: 0.25em;
            }
            .cart-text {
              position: relative;
              min-width: fit-content;
              flex: 1 1 auto;
              p {
                font-family: $kumbh;
                text-align: left;
                font-weight: 600;
                color: $grey;
                padding: 0;
                margin: 0em 0.5em 0em 0em;
                .cost {
                  color: #000000;
                  font-weight: 700;
                }
              }
              img {
                position: absolute;
                right: 0;
                bottom: 0.5em;
                height: 1em;
              }
            }
          }
        }
        .checkout-button-container {
          display: none;
          width: 100%;
          .checkout-button {
            @include flexCenter();
            width: 90%;
            height: 2.7em;
            background-color: $orange;
            color: #ffffff;
            margin: 0.3em 0em;
            border-radius: 0.55em;
            p {
              font-family: $kumbh;
              font-size: $font_size_small;
              font-weight: 600;
              padding: 0;
              margin: 0;
            }
          }
        }
      }
      .cart.non-empty .checkout-button-container {
        @include flexCenter();
      }
    }
    .cart-container.active .cart {
      display: block;
    }
    .avatar {
      margin: 0em 0.5em;
      height: 2.8em;
      box-sizing: border-box;
      border-radius: 50%;
      &:hover {
        border: 0.1em solid $orange;
      }
    }
  }
}

/* Main */
.left-container {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
}
.right-container {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  float: right;
}

.main {
  width: 100%;
  min-height: 80vh;
  margin: 3.5em 0em 0em 0em;
  padding: 0;
  flex: 1 1 auto;
  .left-container {
    @include flexCenter();
    .product-images {
      @include flexCenter();
      padding: 1em;
      .image-container {
        width: 90%;
      }
      .image-focused {
        @include flexCenter();
        width: 100%;
        position: relative;
        .previous-icon {
          display: none;
          position: absolute;
          top: 50%;
          left: 1em;
          background-color: #ffffff;
          width: 2em;
          height: 2em;
          box-sizing: border-box;
          border-radius: 50%;
          img {
            width: 0.6em;
            &:hover {
              filter: brightness(0) saturate(100%) invert(54%) sepia(47%)
                saturate(2112%) hue-rotate(347deg) brightness(102%)
                contrast(101%);
            }
          }
        }
        .next-icon {
          display: none;
          position: absolute;
          top: 50%;
          right: 1em;
          background-color: #ffffff;
          width: 2em;
          height: 2em;
          box-sizing: border-box;
          border-radius: 50%;
          img {
            width: 0.6em;
            &:hover {
              filter: brightness(0) saturate(100%) invert(54%) sepia(47%)
                saturate(2112%) hue-rotate(347deg) brightness(102%)
                contrast(101%);
            }
          }
        }
        img {
          width: 100%;
          border-radius: 0.55em;
        }
      }
      .image-array {
        width: 100%;
        height: 5em;
        margin: 1em 0em;
        display: flex;
        justify-content: space-around;
        flex-flow: row;
        flex-wrap: nowrap;
        opacity: 1;
        img {
          height: 100%;
          border-radius: 0.55em;
          margin-right: 0.5em;
          transition: all 200ms ease-out;
          border: none;
        }
        img:last-child {
          margin-right: 0em;
        }
        img:hover {
          transition: all 200ms ease-in;
          opacity: 0.6;
        }
        img.active {
          transition: all 200ms ease-in;
          border: 0.1em solid $orange;
          opacity: 0.8;
        }
      }
    }
  }
  .right-container {
    @include flexCenter();
    .product-description {
      padding: 1em;
      font-family: $kumbh;
      .company {
        color: $orange;
        font-weight: 700;
        font-size: $font_size_general;
      }
      .product {
        font-weight: 700;
        font-size: $font_size_large;
        line-height: 1.5em;
      }
      .details {
        font-weight: 400;
        font-size: $font_size_general;
        color: $grey;
      }
      .price {
        font-weight: 700;
        line-height: 0.75em;
        .price-focus {
          @include flexCenter();
          width: fit-content;
          text-align: left;
          padding: 0;
          margin: 0;
          .current {
            font-size: $font_size_medium;
            margin-right: 00.55em;
          }
          .sale {
            padding: 0.2em 0.5em;
            background-color: $pale_Orange;
            color: $orange;
            font-size: $font_size_small;
            border-radius: 0.25em;
          }
        }
        .regular {
          color: $grey;
          text-decoration: line-through;
          font-size: $font_size_small;
        }
      }
      .button-group {
        margin-top: 2em;
        .quantity-button {
          display: inline-flex;
          flex-flow: row;
          flex-wrap: nowrap;
          align-items: center;
          height: 3em;
          width: max-content;
          background-color: $bluish-grey;
          font-size: $font_size_small;
          border-radius: 0.5em;
          margin-right: 1em;
          .subtract,
          .add {
            color: $orange;
            width: 2.5em;
            display: flex;
            justify-content: center;
            &:hover {
              opacity: 0.7;
            }
          }
          .quantity {
            font-weight: 700;
            width: 4.25em;
            display: flex;
            justify-content: center;
          }
        }
        .add-to-cart-button {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-color: $orange;
          color: #ffffff;
          height: 3em;
          width: 15em;
          border-radius: 00.5em;
          font-size: $font_size_small;
          margin-top: 1em;
          opacity: 1;
          &:hover {
            opacity: 0.7;
          }
        }
        .add-to-cart-button p {
          font-weight: 600;
          line-height: 3em;
          padding: 0;
          margin: 0;
        }
        .add-to-cart-button p img {
          padding: 0;
          margin-right: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 1036px) {
  $mobile_font_size_general: 1em;
  .App {
    width: 100%;
    .container {
      width: 100%;
      min-height: 100vh;
      display: block;
    }
    .app-overlay {
      .modal-view {
        display: none;
      }
    }
  }

  nav {
    height: 5em;
    border-bottom: none;
    .brand-logo {
      margin-left: 0.5em;
    }
    .menu-icon {
      display: block;
      margin: 0em 0.5em;
    }
    ul li {
      display: none;
    }
    .cart-user {
      .cart-container {
        .cart {
          width: 95vw;
          max-width: 30em;
          height: 16em;
          position: fixed;
          top: 6em;
          margin: 5% auto;
          left: 0;
          right: 0;
          z-index: 1;
        }
      }
    }
  }

  .left-container {
    width: 100%;
    height: fit-content;
    display: block;
  }

  .right-container {
    width: 100%;
    height: fit-content;
    display: block;
  }

  .main {
    width: 100%;
    height: fit-content;
    display: block;
    margin: 0em 0em;
    .left-container {
      .product-images {
        padding: 0;
        .image-container {
          width: 100%;
        }
        .image-focused {
          .previous-icon {
            @include flexCenter();
          }
          .next-icon {
            @include flexCenter();
          }
          img {
            width: 70%;
            border-radius: 0.55em;
          }
        }
        .image-array {
          display: none;
        }
      }
    }
    .right-container {
      .product-description {
        width: 100%;
        .details {
          font-size: $mobile_font_size_general;
        }
        .button-group {
          width: 100%;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          .quantity-button {
            display: flex;
            width: 70%;
            height: 3.5em;
            font-size: $mobile_font_size_general;
            margin-right: 0em;
            .subtract,
            .add {
              color: $orange;
              width: 2.5em;
              display: flex;
              justify-content: center;
              flex: 1 1 auto;
              &:hover {
                opacity: 0.7;
              }
            }
            .quantity {
              font-weight: 700;
              flex: 2 1 auto;
              width: 4.25em;
              display: flex;
              justify-content: center;
            }
          }
          .add-to-cart-button {
            display: flex;
            font-size: $mobile_font_size_general;
            width: 70%;
            height: 3.5em;
            margin-top: 1em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .main {
    .left-container {
      .product-images {
        .image-focused {
          img {
            width: 80%;
            border-radius: 0.55em;
          }
        }
        .image-array {
          display: none;
        }
      }
    }
    .right-container {
      .product-description {
        .button-group {
          .quantity-button {
            width: 100%;
            height: 4em;
          }
          .add-to-cart-button {
            width: 100%;
            height: 4em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .main {
    .left-container {
      .product-images {
        .image-focused {
          img {
            width: 100%;
            border-radius: 0em;
          }
        }
        .image-array {
          display: none;
        }
      }
    }
  }
}
