body {
  background-color: #ffffff;
  background-image: url("../images/overlay.png"), #ffffff;
  background-image: url("../images/overlay.png"), #ffffff;
  background-image: url("../images/overlay.png"), #ffffff;
  background-image: url("../images/overlay.png"), #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
}

body,
input,
textarea,
select {
  font-size: 20pt;
  line-height: 1.75em;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1680px) {
  body,
  input,
  textarea,
  select {
    font-size: 15pt;
  }
}

@media screen and (max-width: 1280px) {
  body,
  input,
  textarea,
  select {
    font-size: 14pt;
  }
}

@media screen and (max-width: 736px) {
  body,
  input,
  textarea,
  select {
    font-size: 12pt;
  }
}

@media screen and (max-width: 360px) {
  body,
  input,
  textarea,
  select {
    font-size: 11pt;
  }
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .container {
  width: 75%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0;
  margin: 0;
}

.App .app-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 2;
  display: none;
}

.App .app-overlay .modal-view {
  width: 35%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.App .app-overlay .modal-view .modal-close-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 2em;
  position: relative;
}

.App .app-overlay .modal-view .modal-close-container .close-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 1em;
}

.App .app-overlay .modal-view .modal-close-container .close-icon:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(54%) sepia(47%) saturate(2112%) hue-rotate(347deg) brightness(102%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(54%) sepia(47%) saturate(2112%) hue-rotate(347deg) brightness(102%) contrast(101%);
}

.App .app-overlay .modal-view .modal-image-container {
  width: 100%;
}

.App .app-overlay .modal-view .modal-image-container .modal-image-focused {
  width: 100%;
  position: relative;
}

.App .app-overlay .modal-view .modal-image-container .modal-image-focused .focused {
  width: 100%;
  border-radius: 0.55em;
}

.App .app-overlay .modal-view .modal-image-container .modal-image-focused .previous-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: -1em;
  background-color: #ffffff;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.App .app-overlay .modal-view .modal-image-container .modal-image-focused .previous-icon img:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(54%) sepia(47%) saturate(2112%) hue-rotate(347deg) brightness(102%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(54%) sepia(47%) saturate(2112%) hue-rotate(347deg) brightness(102%) contrast(101%);
}

.App .app-overlay .modal-view .modal-image-container .modal-image-focused .next-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  right: -1em;
  background-color: #ffffff;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.App .app-overlay .modal-view .modal-image-container .modal-image-focused .next-icon img:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(54%) sepia(47%) saturate(2112%) hue-rotate(347deg) brightness(102%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(54%) sepia(47%) saturate(2112%) hue-rotate(347deg) brightness(102%) contrast(101%);
}

.App .app-overlay .modal-view .modal-image-container .modal-image-array {
  width: 100%;
  height: 5em;
  margin: 1em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  opacity: 1;
}

.App .app-overlay .modal-view .modal-image-container .modal-image-array img {
  height: 100%;
  border-radius: 0.55em;
  margin-right: 0.5em;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border: none;
}

.App .app-overlay .modal-view .modal-image-container .modal-image-array img:last-child {
  margin-right: 0em;
}

.App .app-overlay .modal-view .modal-image-container .modal-image-array img:hover {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  opacity: 0.7;
}

.App .app-overlay .modal-view .modal-image-container .modal-image-array img.active {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  border: 0.1em solid #ff7e1b;
  opacity: 0.8;
}

.App .app-overlay.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .mobile-menu {
  display: none;
  width: 70vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 3;
}

.App .mobile-menu img {
  margin: 1.5em 2.5em;
}

.App .mobile-menu ul {
  list-style-type: none;
  margin: 1em 2.5em;
  padding: 0em;
}

.App .mobile-menu ul li {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 2em;
}

.App .mobile-menu.active {
  display: block;
}

/* Nav */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 20vh;
  padding: 0;
  margin: 0;
  border-bottom: 0.05em solid #d8d1d1;
}

nav .brand-logo {
  margin-right: 1em;
}

nav .menu-icon {
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.85em;
  color: #7e7d7d;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 5em;
  padding: 0;
  margin: 0em 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 0.25em solid #ffffff;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

nav ul li:hover {
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  border-bottom: 0.25em solid #ff7e1b;
}

nav .cart-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
}

nav .cart-user .cart-container .cart-icon-container {
  position: relative;
  margin-right: 0.5em;
}

nav .cart-user .cart-container .cart-icon-container .cart-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ff7e1b;
  border-radius: 0.25em;
  position: absolute;
  top: 0em;
  left: 0.5em;
}

nav .cart-user .cart-container .cart-icon-container .cart-count p {
  font-size: 0.5em;
  line-height: 0.5em;
  margin: 0;
  padding: 0.5em 0.75em;
  color: #ffffff;
  font-weight: 600;
}

nav .cart-user .cart-container .cart {
  width: 16em;
  height: 12em;
  background-color: white;
  display: none;
  position: absolute;
  bottom: -12.5em;
  left: -100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5em;
}

nav .cart-user .cart-container .cart .cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 0.75em;
  padding-left: 0.8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 4em;
  border-bottom: 0.01em solid #d5d8db;
}

nav .cart-user .cart-container .cart .cart-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  min-height: 5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
}

nav .cart-user .cart-container .cart .cart-content p {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 0.75em;
}

nav .cart-user .cart-container .cart .cart-content .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3.5em;
  margin: 0.5em 0em;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

nav .cart-user .cart-container .cart .cart-content .cart-item img {
  height: 90%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0em 0.5em;
  border-radius: 0.25em;
}

nav .cart-user .cart-container .cart .cart-content .cart-item .cart-text {
  position: relative;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

nav .cart-user .cart-container .cart .cart-content .cart-item .cart-text p {
  font-family: "Kumbh Sans", sans-serif;
  text-align: left;
  font-weight: 600;
  color: #7e7d7d;
  padding: 0;
  margin: 0em 0.5em 0em 0em;
}

nav .cart-user .cart-container .cart .cart-content .cart-item .cart-text p .cost {
  color: #000000;
  font-weight: 700;
}

nav .cart-user .cart-container .cart .cart-content .cart-item .cart-text img {
  position: absolute;
  right: 0;
  bottom: 0.5em;
  height: 1em;
}

nav .cart-user .cart-container .cart .checkout-button-container {
  display: none;
  width: 100%;
}

nav .cart-user .cart-container .cart .checkout-button-container .checkout-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 2.7em;
  background-color: #ff7e1b;
  color: #ffffff;
  margin: 0.3em 0em;
  border-radius: 0.55em;
}

nav .cart-user .cart-container .cart .checkout-button-container .checkout-button p {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

nav .cart-user .cart-container .cart.non-empty .checkout-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .cart-user .cart-container.active .cart {
  display: block;
}

nav .cart-user .avatar {
  margin: 0em 0.5em;
  height: 2.8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

nav .cart-user .avatar:hover {
  border: 0.1em solid #ff7e1b;
}

/* Main */
.left-container {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
}

.right-container {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  float: right;
}

.main {
  width: 100%;
  min-height: 80vh;
  margin: 3.5em 0em 0em 0em;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main .left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .left-container .product-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.main .left-container .product-images .image-container {
  width: 90%;
}

.main .left-container .product-images .image-focused {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

.main .left-container .product-images .image-focused .previous-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 1em;
  background-color: #ffffff;
  width: 2em;
  height: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.main .left-container .product-images .image-focused .previous-icon img {
  width: 0.6em;
}

.main .left-container .product-images .image-focused .previous-icon img:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(54%) sepia(47%) saturate(2112%) hue-rotate(347deg) brightness(102%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(54%) sepia(47%) saturate(2112%) hue-rotate(347deg) brightness(102%) contrast(101%);
}

.main .left-container .product-images .image-focused .next-icon {
  display: none;
  position: absolute;
  top: 50%;
  right: 1em;
  background-color: #ffffff;
  width: 2em;
  height: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.main .left-container .product-images .image-focused .next-icon img {
  width: 0.6em;
}

.main .left-container .product-images .image-focused .next-icon img:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(54%) sepia(47%) saturate(2112%) hue-rotate(347deg) brightness(102%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(54%) sepia(47%) saturate(2112%) hue-rotate(347deg) brightness(102%) contrast(101%);
}

.main .left-container .product-images .image-focused img {
  width: 100%;
  border-radius: 0.55em;
}

.main .left-container .product-images .image-array {
  width: 100%;
  height: 5em;
  margin: 1em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  opacity: 1;
}

.main .left-container .product-images .image-array img {
  height: 100%;
  border-radius: 0.55em;
  margin-right: 0.5em;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border: none;
}

.main .left-container .product-images .image-array img:last-child {
  margin-right: 0em;
}

.main .left-container .product-images .image-array img:hover {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  opacity: 0.6;
}

.main .left-container .product-images .image-array img.active {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  border: 0.1em solid #ff7e1b;
  opacity: 0.8;
}

.main .right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .right-container .product-description {
  padding: 1em;
  font-family: "Kumbh Sans", sans-serif;
}

.main .right-container .product-description .company {
  color: #ff7e1b;
  font-weight: 700;
  font-size: 0.85em;
}

.main .right-container .product-description .product {
  font-weight: 700;
  font-size: 2.1em;
  line-height: 1.5em;
}

.main .right-container .product-description .details {
  font-weight: 400;
  font-size: 0.85em;
  color: #7e7d7d;
}

.main .right-container .product-description .price {
  font-weight: 700;
  line-height: 0.75em;
}

.main .right-container .product-description .price .price-focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  padding: 0;
  margin: 0;
}

.main .right-container .product-description .price .price-focus .current {
  font-size: 1.2em;
  margin-right: 00.55em;
}

.main .right-container .product-description .price .price-focus .sale {
  padding: 0.2em 0.5em;
  background-color: #fde6db;
  color: #ff7e1b;
  font-size: 0.75em;
  border-radius: 0.25em;
}

.main .right-container .product-description .price .regular {
  color: #7e7d7d;
  text-decoration: line-through;
  font-size: 0.75em;
}

.main .right-container .product-description .button-group {
  margin-top: 2em;
}

.main .right-container .product-description .button-group .quantity-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #eff3f5;
  font-size: 0.75em;
  border-radius: 0.5em;
  margin-right: 1em;
}

.main .right-container .product-description .button-group .quantity-button .subtract,
.main .right-container .product-description .button-group .quantity-button .add {
  color: #ff7e1b;
  width: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .right-container .product-description .button-group .quantity-button .subtract:hover,
.main .right-container .product-description .button-group .quantity-button .add:hover {
  opacity: 0.7;
}

.main .right-container .product-description .button-group .quantity-button .quantity {
  font-weight: 700;
  width: 4.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .right-container .product-description .button-group .add-to-cart-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff7e1b;
  color: #ffffff;
  height: 3em;
  width: 15em;
  border-radius: 00.5em;
  font-size: 0.75em;
  margin-top: 1em;
  opacity: 1;
}

.main .right-container .product-description .button-group .add-to-cart-button:hover {
  opacity: 0.7;
}

.main .right-container .product-description .button-group .add-to-cart-button p {
  font-weight: 600;
  line-height: 3em;
  padding: 0;
  margin: 0;
}

.main .right-container .product-description .button-group .add-to-cart-button p img {
  padding: 0;
  margin-right: 1em;
}

@media screen and (max-width: 1036px) {
  .App {
    width: 100%;
  }
  .App .container {
    width: 100%;
    min-height: 100vh;
    display: block;
  }
  .App .app-overlay .modal-view {
    display: none;
  }
  nav {
    height: 5em;
    border-bottom: none;
  }
  nav .brand-logo {
    margin-left: 0.5em;
  }
  nav .menu-icon {
    display: block;
    margin: 0em 0.5em;
  }
  nav ul li {
    display: none;
  }
  nav .cart-user .cart-container .cart {
    width: 95vw;
    max-width: 30em;
    height: 16em;
    position: fixed;
    top: 6em;
    margin: 5% auto;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .left-container {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
  }
  .right-container {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
  }
  .main {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    margin: 0em 0em;
  }
  .main .left-container .product-images {
    padding: 0;
  }
  .main .left-container .product-images .image-container {
    width: 100%;
  }
  .main .left-container .product-images .image-focused .previous-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .left-container .product-images .image-focused .next-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .left-container .product-images .image-focused img {
    width: 70%;
    border-radius: 0.55em;
  }
  .main .left-container .product-images .image-array {
    display: none;
  }
  .main .right-container .product-description {
    width: 100%;
  }
  .main .right-container .product-description .details {
    font-size: 1em;
  }
  .main .right-container .product-description .button-group {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .right-container .product-description .button-group .quantity-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    height: 3.5em;
    font-size: 1em;
    margin-right: 0em;
  }
  .main .right-container .product-description .button-group .quantity-button .subtract,
  .main .right-container .product-description .button-group .quantity-button .add {
    color: #ff7e1b;
    width: 2.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .main .right-container .product-description .button-group .quantity-button .subtract:hover,
  .main .right-container .product-description .button-group .quantity-button .add:hover {
    opacity: 0.7;
  }
  .main .right-container .product-description .button-group .quantity-button .quantity {
    font-weight: 700;
    -webkit-box-flex: 2;
        -ms-flex: 2 1 auto;
            flex: 2 1 auto;
    width: 4.25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .right-container .product-description .button-group .add-to-cart-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1em;
    width: 70%;
    height: 3.5em;
    margin-top: 1em;
  }
}

@media screen and (max-width: 900px) {
  .main .left-container .product-images .image-focused img {
    width: 80%;
    border-radius: 0.55em;
  }
  .main .left-container .product-images .image-array {
    display: none;
  }
  .main .right-container .product-description .button-group .quantity-button {
    width: 100%;
    height: 4em;
  }
  .main .right-container .product-description .button-group .add-to-cart-button {
    width: 100%;
    height: 4em;
  }
}

@media screen and (max-width: 650px) {
  .main .left-container .product-images .image-focused img {
    width: 100%;
    border-radius: 0em;
  }
  .main .left-container .product-images .image-array {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */